# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
.venv
env/
venv/

# Environments
.env
local.env

# VS code
.vscode

# PyCharm
.idea

# Volumes
data/

# Sqlite
*.sqlite3

# Log files
*log
